1.

In [7]:
import pandas as pd
import numpy as np
def convolve_sma(array, period):
    return np.convolve(array, np.ones((period,))/period, mode='valid')

In [10]:
convolve_sma([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150],3)

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

Task 2:
1.

In [20]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

2.

In [23]:
import pandas as pd
dt = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dt)), index=dt)
s

2015-01-01    0.037203
2015-01-02    0.062111
2015-01-05    0.073075
2015-01-06    0.818483
2015-01-07    0.241245
2015-01-08    0.311108
2015-01-09    0.942649
2015-01-12    0.747142
2015-01-13    0.897308
2015-01-14    0.136155
2015-01-15    0.729624
2015-01-16    0.905052
2015-01-19    0.025488
2015-01-20    0.170574
2015-01-21    0.742505
2015-01-22    0.118788
2015-01-23    0.211242
2015-01-26    0.406177
2015-01-27    0.504558
2015-01-28    0.027841
2015-01-29    0.573550
2015-01-30    0.974158
2015-02-02    0.739925
2015-02-03    0.136618
2015-02-04    0.899828
2015-02-05    0.820821
2015-02-06    0.086607
2015-02-09    0.270807
2015-02-10    0.827360
2015-02-11    0.564869
                ...
2015-11-20    0.974227
2015-11-23    0.645865
2015-11-24    0.796780
2015-11-25    0.501186
2015-11-26    0.559019
2015-11-27    0.103934
2015-11-30    0.538236
2015-12-01    0.992404
2015-12-02    0.252887
2015-12-03    0.358601
2015-12-04    0.244375
2015-12-07    0.148588
2015-12-08    0.556394
2015-12-09    0.882904
2015-12-10    0.376005
2015-12-11    0.585425
2015-12-14    0.127408
2015-12-15    0.727162
2015-12-16    0.797621
2015-12-17    0.329279
2015-12-18    0.554608
2015-12-21    0.163108
2015-12-22    0.220643
2015-12-23    0.364355
2015-12-24    0.446754
2015-12-25    0.472108
2015-12-28    0.585411
2015-12-29    0.559590
2015-12-30    0.749995
2015-12-31    0.880355
Freq: B, Length: 261, dtype: float64

Find the sum of the values in s for every Wednesday

In [24]:
s[dti.weekday == 2].sum()

28.573903117477187

Average For each calendar month

In [25]:
s.resample('M', how='mean')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2015-01-31    0.438911
2015-02-28    0.544013
2015-03-31    0.430082
2015-04-30    0.531103
2015-05-31    0.596428
2015-06-30    0.468155
2015-07-31    0.543876
2015-08-31    0.681242
2015-09-30    0.466353
2015-10-31    0.458388
2015-11-30    0.494451
2015-12-31    0.494608
Freq: M, dtype: float64

For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [26]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-30
2015-05-31   2015-02-27
2015-09-30   2015-07-06
2016-01-31   2015-12-01
dtype: datetime64[ns]